<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create post</title>
</head>

<body>
	<h1>Create Post</h1>
		
	<form action="/posts" method="POST">
		<input type="text" name="title" placeholder="Title"><br>
		<textarea name="text" placeholder="Post text.."></textarea><br>
		<button type="submit" name="action" value="draft">Save Draft</button>
		<button type="submit" name="action" value="publish">Publish</button>
		<button type="reset">Reset</button>
	</form>

	<%- include('../partials/footer.ejs') %>